---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="bg-black text-white font-mono flex flex-col items-center justify-start p-8 space-y-12 overflow-y-auto h-full">
    <a href="/start" class="absolute top-6 left-6 text-gray-400 hover:text-gray-600 transition-all text-l font-light">
      ← Back
    </a>
    <p class="mt-12 text-gray-400 text-sm animate-fade-in-slower">
      The Brain, The Inspiration, My Entire World: Benji.
    </p>

    <div class="flex flex-row space-x-8 max-w-2xl w-full justify-center">
      <video autoplay muted loop class="rounded-lg shadow-lg w-full max-w-[45%]">
        <source src="/benj2.mp4" type="video/mp4">
      </video>
      <video autoplay muted loop class="rounded-lg shadow-lg w-full max-w-[45%]">
        <source src="/benj1.mp4" type="video/mp4">
      </video>
    </div>

 


  </main>

  <style>
    html, body {
      height: 100%;  
      overflow-y: auto;  
    }
  </style>
</Layout>