---
layout: Layout
title: Blank Page
---

<Layout pageStyle="blank">
  <main class="fixed inset-0 bg-[#f8f5f0] flex items-center justify-center text-center overflow-hidden">
    
    <a href="/start" class="absolute top-6 left-6 text-gray-400 hover:text-gray-600 transition-all text-l font-light">
  ← Back
    </a>

    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-400 text-xl md:text-2xl font-mono animate-fade-in">
    [Elevator Music]
    </div>


    <iframe
      src="https://www.youtube.com/embed/NvjcwY_CraA?autoplay=1&mute=0&controls=0&loop=1&playlist=NvjcwY_CraA"
      frameborder="0"
      allow="autoplay"
      class="w-0 h-0 invisible"
    ></iframe>

  </main>


</Layout>