---
import Layout from '../layouts/Layout.astro';
---
<Layout>
<main class="flex flex-col items-center justify-center min-h-screen text-white font-mono px-6 text-center main-container">       
    <a href="/start" class="absolute top-6 left-6 text-gray-400 hover:text-gray-600 transition-all text-l font-light">
        ← Back
</a>
  <h1 class="text-4xl md:text-6xl mb-8 animate-fade-in-slow">My Why</h1>
  

  <p class="w-full md:w-3/4 lg:w-2/3 text-lg md:text-l leading-relaxed animate-fade-in-slow opacity-80">
    Memory is the most <strong class="text-indigo-300">idiosyncratic, humanistic</strong> aspect in us. It is the story that we keep telling ourselves about who we are, why we do things the way we do, and how it shapes the person we’re becoming.  
    It’s <strong class="text-indigo-300">hauntingly beautiful</strong> and sometimes <strong class="text-indigo-300">painfully poetic</strong>, but most importantly, it’s <strong class="text-indigo-300">innately prevalent</strong> in our everyday life.  
    To me, memory is what gives life <strong class="text-indigo-300"><em>meaning</em></strong>. How can something so abstract, so difficult to conceptualize, be so ingrained in our identity? Clearly, we don’t know much about ourselves as we let on.</p>
   <br>
    <p class="w-full md:w-3/4 lg:w-2/3 text-lg md:text-l leading-relaxed animate-fade-in-slow opacity-80">
        My purpose in life is to understand what makes us <strong class="text-indigo-300"><em>truly us</em></strong>. Not just through intellectual frameworks, but also through humanistic lenses because <strong class="text-indigo-300"><em>both are connected and of the same system</em></strong>.
  </p>
<br>
  <p class="w-full md:w-3/4 lg:w-2/3 text-lg md:text-l leading-relaxed animate-fade-in-slow opacity-80 mt-6">
    As Jill Bolte Taylor said, <strong class="text-indigo-300"><em>"Most of us think of ourselves as thinking creatures that feel, 
        but we are actually feeling creatures that think."</em></strong>
  </p>
  
  <div class="mt-12 opacity-70 text-sm">
    <!-- Additional content??? -->
  </div>

</main>

<style>
.animate-fade-in-slow {
  opacity: 0;
  transform: translateY(20px);
  animation: floatFade 2.2s ease forwards;
}
@keyframes floatFade {
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

.main-container {
  width: 100%;  
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;  
  padding-right: 20px;  
  max-width: 100%;  
}


p {
  width: 100%;  
  margin-left: auto;
  margin-right: auto;
  max-width: none;  
}

html, body {
    height: 100%;  
    margin: 0; 
    overflow-y: scroll; 
  }



  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

</style>
</Layout>